.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.logo {
  color: white;
}
.logo:hover {
  color: #2B4671;
}
